# {{ ansible_managed }}
{%- macro dovebool(val) %}{% if val %}yes{% else %}no{% endif %}{% endmacro %}

# Connection
{% if dovecot_ldap_hosts | length > 0 %}
host = {{ dovecot_ldap_hosts | join(' ') }}
{% endif %}
{% if dovecot_ldap_uris | length > 0 %}
uris = {{ dovecot_ldap_uris | join(' ') }}
{% endif %}
auth_bind = {{ dovebool(dovecot_ldap_auth_bind) }}
blocking = {{ dovebool(dovecot_ldap_blocking) }}

# TLS
tls = {{ dovebool(dovecot_ldap_tls) }}
{% if dovecot_ldap_cert_file != None %}
tls_ca_cert_file = {{ dovecot_ldap_cert_file }}
{% endif %}
{% if dovecot_ldap_cert_dir != None %}
tls_ca_cert_dir = {{ dovecot_ldap_cert_dir }}
{% endif %}
tls_require_cert = {{ dovecot_ldap_require_cert }}

# Auth
dn = {{ dovecot_ldap_dn }}
dnpass = {{ dovecot_ldap_dn_pass }}

# LDAP structure
base = {{ dovecot_ldap_base }}
scope = {{ dovecot_ldap_scope }}

# Pass
pass_attrs = {{ dovecot_ldap_pass_attrs | join(', ') }}
pass_filter = {{ dovecot_ldap_pass_filter }}
